<b>Статистика для @{{ user.name}}:</b>
<br>
<br>
{% if history %}
    {% for item in history %}
       {{ item.rated_user }}:   <b>{{ item.points }}</b>
    <br>
{% endfor %}
{% else %}
    <b>Нет данных </b>
{% endif %}